#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     ubuntu: abc123
  expire: False

users:
  - name: gromero
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC46OyW3cU5oi4bCAqZpv+/pknGOkbWkDknvBgVHVa9TjWVO3Fam47f4QbSOO0xbpjV+MSHz93uNHBFkLZQvTEGEt+G5TyRc6eNPWDoOZaZSano9dvGCL9kHbDAVp7zBZL23dlSgNgYzwUZ2ooF1k0/+SwbMcHa4DAomSaDm41Eo0OzxEgrPLswZj92oPNFvblOpDLyczVcfXMgUKbSTKVe8Er5hJ234SxeUZvRK8IqTlanugPQ7SDoXPE7OhHfo2m39KNXIkM4wWjw6e6E01TxgxXn4tuomjZTQaGFvtpGkLM8SzzfLbAEFGjZeeG/w3BPS2lR4YYD6m9zach5FYIn
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
